{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-runtime",
    "transform-do-expressions",
    [
      "react-intl", {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
