# sudo: required
# dist: trusty
language: node_js
node_js:
  - "7"
# python:
  # - "3.5"

install:
  - npm i -g yarn && yarn
  # - pip install awscli

before_deploy:
  - yarn prod

deploy:
  provider: s3
  access_key_id: $S3_KEY_ID
  secret_access_key: $S3_KEY_VALUE
  bucket: spafront2016
  local-dir: public
  skip_cleanup: true
  on:
    repo: pustovalov/spa_frontend
    branch: master


# after_deploy:
  # - aws configure set preview.cloudfront true
  # - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
