.form-signin {
  margin: 0 auto;
  max-width: 330px;

  .form-control {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    height: auto;

    &.last {
      margin-bottom: 10px;
    }
  }

  .middle {
    position: relative;
    bottom: -1px;
    border-radius: 0;
  }

  .last {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
